*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 25px;
}
.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}
p{
    padding: 0 10rem;
    font-size:1.5rem;
    margin: 5rem 0;
}
.bg
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg2{
    background-image: url(sport-1.jpg);
}
.bg3{
    background-image: url(sport-2.jpg);
}
.bg4{
    background-image: url(sport-3.jpg);
}
.background{
    transform: translateZ(-40px) scale(3);
}
.foreground{
    transform: translateZ(-20px) scale(2);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position:absolute;
    font-size: 10rem;
    color:white;
    text-shadow:0 0 10px ;
}
h2{
    display: inline;
    background-color: white;
    color: black;
    font-size:5rem;
    padding:0 10rem;
}